/* Responsive Design */
/* Modify the size of the animations so no scrolling is required */
/* Modify the size of the buttons to fit the width of the animation */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Mobile devices layout to be done by Pegasus */
  /* Screen shots of the graphic will replace the animations */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* Mobile devices layout to be done by Pegasus */
  /* Screen shots of the graphic will replace the animations */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* size and center animation on web page */
  #efficienciesAnimation,
  #typicalAnimation,
  #circularAnimation,
  #transformationsAnimation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /* height: 90vh;*/ /*Didn't work because it overflowed */
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  /* size and center animation on web page */
  #efficienciesAnimation,
  #typicalAnimation,
  #circularAnimation,
  #transformationsAnimation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
  /* size and center animation on web page */
  #efficienciesAnimation,
  #typicalAnimation,
  #circularAnimation,
  #transformationsAnimation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
