body {
  margin: 20px;
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
}
h1 {
  font-size: 2em;
  text-align: center;
}
h2 {
  font-size: 1.25em;
}
p {
  font-size: 1em;
}

/* title and subtitle */
.title {
  fill: #8db845;
  font-size: 30px;
  font-family: RobotoCondensed-Bold, "Roboto Condensed";
  font-weight: 700;
}
.subtitle {
  fill: #231f20;
  font-size: 16px;
  font-family: RobotoCondensed-Regular, "Roboto Condensed";
}

/* Buttons */
.buttonlabel {
  font-size: 17px;
  fill: #fff;
  font-family: RobotoCondensed-Bold, "Roboto Condensed";
  font-weight: 700;
}
#typicalbtnOutline {
  fill: none;
  stroke: #ee5f24;
  stroke-miterlimit: 10;
  stroke-width: 2.02px;
}
.typicalbtnBkgnd {
  fill: #ee5f24;
}
#circularbtnOutline {
  fill: none;
  stroke: #1b75bc;
  stroke-miterlimit: 10;
  stroke-width: 2.02px;
}
.circularbtnBkgnd {
  fill: #1b75bc;
}
#efficiencybtnOutline {
  fill: none;
  stroke: #8db845;
  stroke-miterlimit: 10;
  stroke-width: 2.02px;
}
.efficiencybtnBkgnd {
  fill: #8db845;
}
#ecologybtnOutline {
  fill: none;
  stroke: #193e4f;
  stroke-miterlimit: 10;
  stroke-width: 2.02px;
}
.ecologybtnBkgnd {
  fill: #193e4f;
}
.iconlabel {
  fill: #231f20;
  font-size: 14px;
  font-family: RobotoCondensed-Bold, "Roboto Condensed";
  font-weight: 700;
}
.revalorizelabel {
  fill: #1b75bc;
}
.returnlabel {
  fill: #808285;
}
img {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Tooltip list styling */
ul.tooltipList {
  list-style-type: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1.1em;
}
li.tooltipItem {
  font-size: 1em;
  color: black;
  font-family: "Roboto", sans-serif;
  margin: 0.5em 0;
  padding-left: 1em;
}
li.tooltipItem:before {
  content: "\2756\0020\0020";
}
ul.tooltipSublist {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 0;
  padding-left: 1em;
}
li.tooltipSublistItem {
  font-size: 0.9em;
  color: black;
  font-family: "Roboto", sans-serif;
  margin: 0.3em 0;
  padding-left: 0;
}

/* Design Product */
.designiconBkgnd {
  fill: #ee5f24;
  animation: pulse 2.25s infinite;
  transform-origin: 21% 53%;
}
#designiconHotspot {
  fill: none;
  transform-origin: 21% 53%;
}
#designtooltip {
  width: 230px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #8db845;
  border-radius: 6px;
  position: absolute;
  display: none;
}
/* pointer from tooltip to designicon */
#designtooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: #8db845;
  position: absolute;
  left: -6px;
  top: 40px;
}

/* Procure Packaging */
.packagingiconBkgnd {
  fill: #ee5f24;
  animation: pulse 2.25s infinite;
  transform-origin: 33% 35%;
}
#packagingiconHotspot {
  fill: none;
  transform-origin: 33% 35%;
}
#packagingtooltip {
  width: 300px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #8db845;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#packagingtooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: #8db845;
  position: absolute;
  left: -6px;
  top: 40px;
}

/* Manufacture Product */
.manufactureiconBkgnd {
  fill: #ee5f24;
  animation: pulse 2.25s infinite;
  transform-origin: 46% 31%;
}
#manufactureiconHotspot {
  fill: none;
  transform-origin: 46% 31%;
}
#manufacturetooltip {
  width: 220px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #8db845;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#manufacturetooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: #8db845;
  position: absolute;
  left: -6px;
  top: 40px;
}

/* Warehouse Product */
.warehouseiconBkgnd {
  fill: #ee5f24;
  animation: pulse 2.25s infinite;
  transform-origin: 59% 25%;
}
#warehouseiconHotspot {
  fill: none;
  transform-origin: 59% 25%;
}
#warehousetooltip {
  width: 260px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #8db845;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#warehousetooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: #8db845;
  position: absolute;
  left: -6px;
  top: 40px;
}

/* Corporate HQ */
.headquartersiconBkgnd {
  fill: #ee5f24;
  animation: pulse 2.25s infinite;
  transform-origin: 53% 48%;
}
#headquartersiconHotspot {
  fill: none;
  transform-origin: 53% 48%;
}
#headquarterstooltipR {
  width: 230px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #8db845;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#headquarterstooltipR::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: #8db845;
  position: absolute;
  left: -6px;
  top: 125px;
}
#headquarterstooltipL {
  width: 220px;
  padding: 20px 25px 20px 8px;
  font-size: 1em;
  background-color: #8db845;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#headquarterstooltipL::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: #8db845;
  position: absolute;
  left: 246px;
  top: 138px;
}
@keyframes pulse {
  0% {
    fill: #ee5f24;
    transform: scale(1, 1);
    transition-timing-function: ease-in;
  }
  50% {
    fill: #8db845;
    transform: scale(1.05, 1.05);
  }
  100% {
    fill: #ee5f24;
    transform: scale(1, 1);
  }
}

/* Airplanes */
#plane1icon {
  fill: #808285;
  animation: pulseicon 2.25s infinite;
  transform-origin: 39% 23%;
}
#plane1iconHotspot {
  fill: none;
  transform-origin: 39% 23%;
}
#plane1tooltip {
  width: 300px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #8db845;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#plane1tooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: #8db845;
  position: absolute;
  left: -6px;
  top: 40px;
}
#plane2icon {
  fill: #808285;
  animation: pulseicon 2.25s infinite;
  transform-origin: 50% 90%;
}
#plane2iconHotspot {
  fill: none;
  transform-origin: 50% 90%;
}
#plane2tooltip {
  width: 300px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #8db845;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#plane2tooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: #8db845;
  position: absolute;
  left: -6px;
  top: 265px;
}
@keyframes pulseicon {
  0% {
    fill: #808285;
    transform: scale(1, 1);
    transition-timing-function: ease-in;
  }
  50% {
    fill: #8db845;
    transform: scale(1.1, 1.1);
  }
  100% {
    fill: #808285;
    transform: scale(1, 1);
  }
}

/* Revalorize Product */
.revalorize {
  fill: #808285;
  animation: pulse 2.25s infinite;
  transform-origin: 45% 23%;
}

/* styles from Illustrator export */
.cls-1,
.cls-100,
.cls-130,
.cls-131,
.cls-155,
.cls-207,
.cls-25,
.cls-62,
.cls-63,
.cls-64,
.cls-66,
.cls-67,
.cls-77,
.cls-78,
.cls-91,
.cls-92 {
  fill: none;
}

.cls-147,
.cls-90 {
  fill: #fff;
}

.cls-49 {
  fill: #ee5f24;
}

.cls-207,
.cls-25 {
  stroke: #8db845;
}

.cls-130,
.cls-147,
.cls-155,
.cls-207,
.cls-25,
.cls-62,
.cls-63,
.cls-64,
.cls-66,
.cls-67,
.cls-77,
.cls-78 {
  stroke-miterlimit: 10;
}

.cls-25 {
  stroke-width: 2.02px;
}

.cls-208 {
  fill: #8db845;
}

.cls-107,
.cls-36 {
  fill: #1b75bc;
}

.cls-62,
.cls-66 {
  stroke: #1b75bc;
}

.cls-155,
.cls-62 {
  stroke-width: 2.56px;
}

.cls-131,
.cls-63,
.cls-64 {
  stroke: #808285;
}

.cls-63 {
  stroke-width: 2.85px;
  stroke-dasharray: 3.8 2.85;
}

.cls-64 {
  stroke-width: 2.71px;
  stroke-dasharray: 3.61 2.71;
}

.cls-132,
.cls-65 {
  fill: #808285;
}

.cls-66,
.cls-67 {
  stroke-width: 3.26px;
}

.cls-155,
.cls-67 {
  stroke: #ee5f24;
}

.cls-107,
.cls-132,
.cls-68 {
  font-size: 14px;
}

.cls-101,
.cls-165,
.cls-68 {
  fill: #231f20;
}

.cls-130,
.cls-147,
.cls-77,
.cls-78,
.cls-91,
.cls-92 {
  stroke: #fff;
}

.cls-77 {
  stroke-width: 1.79px;
}

.cls-78 {
  stroke-width: 1.29px;
}

.cls-100,
.cls-131,
.cls-91,
.cls-92 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-91 {
  stroke-width: 1.7px;
}

.cls-92 {
  stroke-width: 1.9px;
}

.cls-100 {
  stroke: #231f20;
}

.cls-100,
.cls-131 {
  stroke-width: 2.45px;
}

.cls-130 {
  stroke-width: 2.18px;
}

.cls-147 {
  stroke-width: 0.5px;
}

.cls-164 {
  clip-path: url(#clip-path);
}

.cls-165 {
  font-size: 16px;
  font-family: RobotoCondensed-Regular, Roboto Condensed;
}

.cls-207 {
  stroke-width: 2.5px;
}

.cls-208 {
  font-size: 30px;
}
