/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* title and subtitle */
.title {
  fill: #1b75bc;
}
.titleUnderline {
  stroke: #1b75bc;
}
.titleAnimation {
  -webkit-animation: zoomout 2s ease-in-out 0s 1 normal forwards;
  animation: zoomout 2s ease-in-out 0s 1 normal forwards;
}
@-webkit-keyframes zoomout {
  0% {
    -webkit-transform: translate(250px, 400px);
    transform: translate(250px, 400px);
    font-size: 4em;
  }
  60% {
    -webkit-transform: translate(250px, 400px);
    transform: translate(250px, 400px);
    font-size: 4em;
  }
  100% {
    -webkit-transform: translate(447.4px, 32.9px);
    transform: translate(447.4px, 32.9px);
    font-size: 30px;
  }
}
@keyframes zoomout {
  0% {
    -webkit-transform: translate(250px, 400px);
    transform: translate(250px, 400px);
    font-size: 4em;
  }
  60% {
    -webkit-transform: translate(250px, 400px);
    transform: translate(250px, 400px);
    font-size: 4em;
  }
  100% {
    -webkit-transform: translate(447.4px, 32.9px);
    transform: translate(447.4px, 32.9px);
    font-size: 30px;
  }
}

/* CIRCULAR VALUE CHAIN */
/* show icon group after title animation is done */
.circularIcongroup {
  opacity: 0;
  -webkit-animation: showCircular 0.6s ease-in 3.5s 1 normal forwards;
  animation: showCircular 0.6s ease-in 3.5s 1 normal forwards;
}
@-webkit-keyframes showCircular {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showCircular {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* show icons one at a time - left to right */
@-webkit-keyframes loadChain {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loadChain {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#typicalChainIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 4.5s 1 normal forwards;
  animation: loadChain 1s ease-in 4.5s 1 normal forwards;
}
#nusesIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 5.5s 1 normal forwards;
  animation: loadChain 1s ease-in 5.5s 1 normal forwards;
}
#refurbishIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 6.5s 1 normal forwards;
  animation: loadChain 1s ease-in 6.5s 1 normal forwards;
}
#endofuseIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 11s 1 normal forwards;
  animation: loadChain 1s ease-in 11s 1 normal forwards;
}
#collectionIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 12s 1 normal forwards;
  animation: loadChain 1s ease-in 12s 1 normal forwards;
}
#plane2IconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 13s 1 normal forwards;
  animation: loadChain 1s ease-in 13s 1 normal forwards;
}
#useIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 14s 1 normal forwards;
  animation: loadChain 1s ease-in 14s 1 normal forwards;
}
#upcycleIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 17s 1 normal forwards;
  animation: loadChain 1s ease-in 17s 1 normal forwards;
}
#upcycle-materials-arrow {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 18s 1 normal forwards;
  animation: loadChain 1s ease-in 18s 1 normal forwards;
}
#downcycleIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 19s 1 normal forwards;
  animation: loadChain 1s ease-in 19s 1 normal forwards;
}
#revalorize {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 20s 1 normal forwards;
  animation: loadChain 1s ease-in 20s 1 normal forwards;
}
#downcycle-design-path {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 20.5s 1 normal forwards;
  animation: loadChain 1s ease-in 20.5s 1 normal forwards;
}
#disposeIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 23.5s 1 normal forwards;
  animation: loadChain 1s ease-in 23.5s 1 normal forwards;
}
#wastetoenergyIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 24.5s 1 normal forwards;
  animation: loadChain 1s ease-in 24.5s 1 normal forwards;
}
@-webkit-keyframes singleArrow {
  0% {
    opacity: 1;
    stroke-dashoffset: 25;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: -25;
  }
}
@keyframes singleArrow {
  0% {
    opacity: 1;
    stroke-dashoffset: 25;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: -25;
  }
}
@-webkit-keyframes doubleArrow {
  0% {
    opacity: 1;
    stroke-dashoffset: 25;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: -25;
  }
}
@keyframes doubleArrow {
  0% {
    opacity: 1;
    stroke-dashoffset: 25;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: -25;
  }
}
#purchase-refurbish-arrow {
  opacity: 0;
  stroke-dasharray: 10;
  stroke-dashoffset: 0;
  -webkit-animation: doubleArrow 2s ease-in-out 7.5s 14 alternate-reverse
    forwards;
  animation: doubleArrow 2s ease-in-out 7.5s 14 alternate-reverse forwards;
}
#nuses-refurbish-arrow {
  opacity: 0;
  stroke-dasharray: 10;
  stroke-dashoffset: 0;
  -webkit-animation: doubleArrow 2s ease-in-out 7.5s 14 alternate-reverse
    forwards;
  animation: doubleArrow 2s ease-in-out 7.5s 14 alternate-reverse forwards;
}
#collection-refurbish-arrow {
  opacity: 0;
  stroke-dasharray: 12.5;
  stroke-dashoffset: 0;
  -webkit-animation: singleArrow 2s linear 15s 10 normal forwards;
  animation: singleArrow 2s linear 15s 10 normal forwards;
}
#use-refurbish-arrow {
  opacity: 0;
  stroke-dasharray: 12.5;
  stroke-dashoffset: 0;
  -webkit-animation: singleArrow 2s linear 15s 10 normal forwards;
  animation: singleArrow 2s linear 15s 10 normal forwards;
}
