/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* title and subtitle */
.title {
  fill: #7b9f3c;
}
.titleUnderline {
  stroke: #7b9f3c;
}
.titleAnimation {
  -webkit-animation: zoomout 2s ease-in-out 0s 1 normal forwards;
  animation: zoomout 2s ease-in-out 0s 1 normal forwards;
}
@-webkit-keyframes zoomout {
  0% {
    -webkit-transform: translate(150px, 400px);
    transform: translate(150px, 400px);
    font-size: 4em;
  }
  60% {
    -webkit-transform: translate(150px, 400px);
    transform: translate(150px, 400px);
    font-size: 4em;
  }
  100% {
    -webkit-transform: translate(347.4px, 32.9px);
    transform: translate(347.4px, 32.9px);
    font-size: 30px;
  }
}
@keyframes zoomout {
  0% {
    -webkit-transform: translate(150px, 400px);
    transform: translate(150px, 400px);
    font-size: 4em;
  }
  60% {
    -webkit-transform: translate(150px, 400px);
    transform: translate(150px, 400px);
    font-size: 4em;
  }
  100% {
    -webkit-transform: translate(347.4px, 32.9px);
    transform: translate(347.4px, 32.9px);
    font-size: 30px;
  }
}

/* VALUE CHAIN EFFICIENCIES */
/* show icon group after title animation is done */
.efficienciesIcongroup {
  opacity: 0;
  -webkit-animation: showEfficiencies 0.6s ease-in 2.5s 1 normal forwards;
  animation: showEfficiencies 0.6s ease-in 2.5s 1 normal forwards;
}
@-webkit-keyframes showEfficiencies {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showEfficiencies {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* show icons one at a time - left to right */
@-webkit-keyframes loadChain {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loadChain {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#designIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 3.5s 1 normal forwards;
  animation: loadChain 1s ease-in 3.5s 1 normal forwards;
}
#materialsIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 4.5s 1 normal forwards;
  animation: loadChain 1s ease-in 4.5s 1 normal forwards;
}
#packagingIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 5.5s 1 normal forwards;
  animation: loadChain 1s ease-in 5.5s 1 normal forwards;
}
#plane1IconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 6.5s 1 normal forwards;
  animation: loadChain 1s ease-in 6.5s 1 normal forwards;
}
#manufactureIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 7.5s 1 normal forwards;
  animation: loadChain 1s ease-in 7.5s 1 normal forwards;
}
#shipIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 8.5s 1 normal forwards;
  animation: loadChain 1s ease-in 8.5s 1 normal forwards;
}
#warehouseIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 9.5s 1 normal forwards;
  animation: loadChain 1s ease-in 9.5s 1 normal forwards;
}
#truckIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 10.5s 1 normal forwards;
  animation: loadChain 1s ease-in 10.5s 1 normal forwards;
}
#sellIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 11.5s 1 normal forwards;
  animation: loadChain 1s ease-in 11.5s 1 normal forwards;
}
#purchaseIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 12.5s 1 normal forwards;
  animation: loadChain 1s ease-in 12.5s 1 normal forwards;
}

#nusesIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 13.5s 1 normal forwards;
  animation: loadChain 1s ease-in 13.5s 1 normal forwards;
}
#refurbishIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 14.5s 1 normal forwards;
  animation: loadChain 1s ease-in 14.5s 1 normal forwards;
}
#endofuseIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 19s 1 normal forwards;
  animation: loadChain 1s ease-in 19s 1 normal forwards;
}
#collectionIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 20s 1 normal forwards;
  animation: loadChain 1s ease-in 20s 1 normal forwards;
}
#plane2IconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 21s 1 normal forwards;
  animation: loadChain 1s ease-in 21s 1 normal forwards;
}
#useIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 22s 1 normal forwards;
  animation: loadChain 1s ease-in 22s 1 normal forwards;
}
#upcycleIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 25s 1 normal forwards;
  animation: loadChain 1s ease-in 25s 1 normal forwards;
}
#upcycle-materials-arrow {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 26s 1 normal forwards;
  animation: loadChain 1s ease-in 26s 1 normal forwards;
}
#downcycleIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 27s 1 normal forwards;
  animation: loadChain 1s ease-in 27s 1 normal forwards;
}
#revalorize {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 28s 1 normal forwards;
  animation: loadChain 1s ease-in 28s 1 normal forwards;
}
#downcycle-design-path {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 28.5s 1 normal forwards;
  animation: loadChain 1s ease-in 28.5s 1 normal forwards;
}
#disposeIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 31.5s 1 normal forwards;
  animation: loadChain 1s ease-in 31.5s 1 normal forwards;
}
#wastetoenergyIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 32.5s 1 normal forwards;
  animation: loadChain 1s ease-in 32.5s 1 normal forwards;
}
#corporateIconGrp {
  opacity: 0;
  -webkit-animation: loadChain 1s ease-in 33.5s 1 normal forwards;
  animation: loadChain 1s ease-in 33.5s 1 normal forwards;
}

@-webkit-keyframes singleArrow {
  0% {
    opacity: 1;
    stroke-dashoffset: 25;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: -25;
  }
}
@keyframes singleArrow {
  0% {
    opacity: 1;
    stroke-dashoffset: 25;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: -25;
  }
}
@-webkit-keyframes doubleArrow {
  0% {
    opacity: 1;
    stroke-dashoffset: 25;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: -25;
  }
}
@keyframes doubleArrow {
  0% {
    opacity: 1;
    stroke-dashoffset: 25;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: -25;
  }
}
#purchase-refurbish-arrow {
  opacity: 0;
  stroke-dasharray: 10;
  stroke-dashoffset: 0;
  -webkit-animation: doubleArrow 2s ease-in-out 15.5s 14 alternate-reverse
    forwards;
  animation: doubleArrow 2s ease-in-out 15.5s 14 alternate-reverse forwards;
}
#nuses-refurbish-arrow {
  opacity: 0;
  stroke-dasharray: 10;
  stroke-dashoffset: 0;
  -webkit-animation: doubleArrow 2s ease-in-out 15.5s 14 alternate-reverse
    forwards;
  animation: doubleArrow 2s ease-in-out 15.5s 14 alternate-reverse forwards;
}
#collection-refurbish-arrow {
  opacity: 0;
  stroke-dasharray: 12.5;
  stroke-dashoffset: 0;
  -webkit-animation: singleArrow 2s linear 23s 10 normal forwards;
  animation: singleArrow 2s linear 23s 10 normal forwards;
}
#use-refurbish-arrow {
  opacity: 0;
  stroke-dasharray: 12.5;
  stroke-dashoffset: 0;
  -webkit-animation: singleArrow 2s linear 23s 10 normal forwards;
  animation: singleArrow 2s linear 23s 10 normal forwards;
}

/* Tooltip list styling */
ul.tooltipList {
  list-style-type: none;
  margin-left: 0;
  padding-left: 1em;
}
li.tooltipItem {
  font-size: 1em;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0.5em 0;
  padding-left: 1em;
}
ul.tooltipSublist {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 0.5em;
  padding-left: 1em;
  text-indent: -1.3em;
}
li.tooltipSublistItem {
  font-size: 0.9em;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0.3em 0;
  padding-left: 0;
}

/* Tooltips */
#designicon:focus {
  outline: 1px solid #c24e24;
}
.designiconBkgndPulse {
  fill: #c24e24;
  -webkit-animation: pulse 2.25s infinite;
  animation: pulse 2.25s infinite;
  -webkit-transform-origin: 21% 55%;
  -ms-transform-origin: 21% 55%;
  transform-origin: 21% 55%;
}
#designiconHotspot {
  fill: none;
  -webkit-transform-origin: 21% 53%;
  -ms-transform-origin: 21% 53%;
  transform-origin: 21% 53%;
}
#designtooltip {
  width: 230px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #7b9f3c;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#designtooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #7b9f3c;
  position: absolute;
  left: -6px;
  top: 40px;
}

/* Procure Packaging */
#packagingicon:focus {
  outline: 1px solid #c24e24;
}
.packagingiconBkgndPulse {
  fill: #c24e24;
  -webkit-animation: pulse 2.25s infinite;
  animation: pulse 2.25s infinite;
  -webkit-transform-origin: 33% 35%;
  -ms-transform-origin: 33% 35%;
  transform-origin: 33% 35%;
}
#packagingiconHotspot {
  fill: none;
  -webkit-transform-origin: 33% 35%;
  -ms-transform-origin: 33% 35%;
  transform-origin: 33% 35%;
}
#packagingtooltip {
  width: 300px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #7b9f3c;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#packagingtooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #7b9f3c;
  position: absolute;
  left: -6px;
  top: 40px;
}

/* Manufacture Product */
#manufactureicon:focus {
  outline: 1px solid #c24e24;
}
.manufactureiconBkgndPulse {
  fill: #c24e24;
  -webkit-animation: pulse 2.25s infinite;
  animation: pulse 2.25s infinite;
  -webkit-transform-origin: 46% 31%;
  -ms-transform-origin: 46% 31%;
  transform-origin: 46% 31%;
}
#manufactureiconHotspot {
  fill: none;
  -webkit-transform-origin: 46% 31%;
  -ms-transform-origin: 46% 31%;
  transform-origin: 46% 31%;
}
#manufacturetooltip {
  width: 220px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #7b9f3c;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#manufacturetooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #7b9f3c;
  position: absolute;
  left: -6px;
  top: 40px;
}

/* Warehouse Product */
#warehouseicon:focus {
  outline: 1px solid #c24e24;
}
.warehouseiconBkgndPulse {
  fill: #c24e24;
  -webkit-animation: pulse 2.25s infinite;
  animation: pulse 2.25s infinite;
  -webkit-transform-origin: 59% 30%;
  -ms-transform-origin: 59% 30%;
  transform-origin: 59% 30%;
}
#warehouseiconHotspot {
  fill: none;
  -webkit-transform-origin: 59% 30%;
  -ms-transform-origin: 59% 30%;
  transform-origin: 59% 30%;
}
#warehousetooltip {
  width: 280px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #7b9f3c;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#warehousetooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #7b9f3c;
  position: absolute;
  left: -6px;
  top: 40px;
}

/* Corporate HQ */
#headquartersicon:focus {
  outline: 1px solid #c24e24;
}
.headquartersiconBkgndPulse {
  fill: #c24e24;
  -webkit-animation: pulse 2.25s infinite;
  animation: pulse 2.25s infinite;
  -webkit-transform-origin: 53% 48%;
  -ms-transform-origin: 53% 48%;
  transform-origin: 53% 48%;
}
#headquartersiconHotspot {
  fill: none;
  -webkit-transform-origin: 53% 48%;
  -ms-transform-origin: 53% 48%;
  transform-origin: 53% 48%;
}
#headquarterstooltipR {
  width: 230px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #7b9f3c;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#headquarterstooltipR::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #7b9f3c;
  position: absolute;
  left: -6px;
  /*top: 125px;*/
  top: 200px;
}
#headquarterstooltipL {
  width: 230px;
  padding: 20px 25px 20px 8px;
  font-size: 1em;
  background-color: #7b9f3c;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#headquarterstooltipL::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #7b9f3c;
  position: absolute;
  left: 256px;
  top: 200px;
}
@-webkit-keyframes pulse {
  0% {
    fill: #c24e24;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  50% {
    fill: #7b9f3c;
    -webkit-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
  }
  100% {
    fill: #c24e24;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulse {
  0% {
    fill: #c24e24;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  50% {
    fill: #7b9f3c;
    -webkit-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
  }
  100% {
    fill: #c24e24;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

/* Airplanes and Truck */
#plane1iconPulse:focus {
  outline: 1px solid #808285;
}
#plane1iconPulse {
  fill: #808285;
  -webkit-animation: pulseicon 2.25s infinite;
  animation: pulseicon 2.25s infinite;
  -webkit-transform-origin: 39% 23%;
  -ms-transform-origin: 39% 23%;
  transform-origin: 39% 23%;
}
#plane1iconHotspot {
  fill: none;
  -webkit-transform-origin: 39% 23%;
  -ms-transform-origin: 39% 23%;
  transform-origin: 39% 23%;
}
#plane1tooltip {
  width: 300px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #7b9f3c;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#plane1tooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #7b9f3c;
  position: absolute;
  left: -6px;
  top: 40px;
}
#plane2iconPulse:focus {
  outline: 1px solid #808285;
}
#plane2iconPulse {
  fill: #808285;
  -webkit-animation: pulseicon 2.25s infinite;
  animation: pulseicon 2.25s infinite;
  -webkit-transform-origin: 50% 90%;
  -ms-transform-origin: 50% 90%;
  transform-origin: 50% 90%;
}
#plane2iconHotspot {
  fill: none;
  -webkit-transform-origin: 50% 90%;
  -ms-transform-origin: 50% 90%;
  transform-origin: 50% 90%;
}
#plane2tooltip {
  width: 300px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #7b9f3c;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#plane2tooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #7b9f3c;
  position: absolute;
  left: -6px;
  top: 265px;
}
#truckiconPulse:focus {
  outline: 1px solid #808285;
}
#truckiconPulse {
  fill: #808285;
  -webkit-animation: pulseicon 2.25s infinite;
  animation: pulseicon 2.25s infinite;
  -webkit-transform-origin: 67% 23%;
  -ms-transform-origin: 67% 23%;
  transform-origin: 67% 23%;
}
#truckiconHotspot {
  fill: none;
  -webkit-transform-origin: 67% 23%;
  -ms-transform-origin: 67% 23%;
  transform-origin: 67% 23%;
}
#trucktooltip {
  width: 230px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #7b9f3c;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#trucktooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #7b9f3c;
  position: absolute;
  left: -6px;
  top: 40px;
}
@-webkit-keyframes pulseicon {
  0% {
    fill: #808285;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
  50% {
    fill: #7b9f3c;
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
  100% {
    fill: #808285;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulseicon {
  0% {
    fill: #808285;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
  50% {
    fill: #7b9f3c;
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
  100% {
    fill: #808285;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
