/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
  margin: 20px;
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  background-color: white;
}
h1 {
  font-size: 2em;
  text-align: center;
}
h2 {
  font-size: 1.25em;
}
p {
  font-size: 1em;
}

/* size and center animation on web page */
#efficienciesAnimation,
#typicalAnimation,
#circularAnimation,
#transformationsAnimation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* title and subtitle */
.title {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
.titleUnderline {
  fill: none;
  opacity: 0%;
  stroke-miterlimit: 10;
  stroke-width: 2.5px;
}
.subtitle {
  fill: #231f20;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 550;
  opacity: 0%;
}
.subtitleAnimation {
  -webkit-animation: showSubtitle 0.4s ease-in 2.5s 1 normal forwards;
  animation: showSubtitle 0.4s ease-in 2.5s 1 normal forwards;
}
@-webkit-keyframes showSubtitle {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes showSubtitle {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* Button Group */
.buttonBar {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 10px;
}
.button {
  font-size: 12px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-align: center;
  width: 24%;
  padding: 10px 20px;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.typicalbtn {
  border: 5px double #ee5f24;
  background-color: #ee5f24;
  padding: 10px 20px;
  background-clip: padding-box;
}
.typicalbtn:hover {
  background-color: #ffffff;
  color: #ee5f24;
  border: 5px double #ee5f24;
}
.typicalbtn:active {
  background-color: #ee5f24;
  color: #ffffff;
}
.circularbtn {
  border: 5px double #1b75bc;
  background-color: #1b75bc;
  padding: 10px 20px;
  background-clip: padding-box;
}
.circularbtn:hover {
  background-color: #ffffff;
  color: #1b75bc;
  border: 5px double #1b75bc;
}
.circularbtn:active {
  background-color: #1b75bc;
  color: #ffffff;
}
.efficiencybtn {
  border: 5px double #8db845;
  background-color: #8db845;
  padding: 10px 20px;
  background-clip: padding-box;
}
.efficiencybtn:hover {
  background-color: #ffffff;
  color: #8db845;
  border: 5px double #8db845;
}
.efficiencybtn:active {
  background-color: #8db845;
  color: #ffffff;
}
.ecologybtn {
  border: 5px double #193e4f;
  background-color: #193e4f;
  padding: 10px 20px;
  background-clip: padding-box;
}
.ecologybtn:hover {
  background-color: #ffffff;
  color: #193e4f;
  border: 5px double #193e4f;
}
.ecologybtn:active {
  background-color: #193e4f;
  color: #ffffff;
}
.note {
  fill: #231f20;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  margin-top: 0.5em;
}

/* icons */
.iconDrawing {
  fill: #fff;
  stroke-miterlimit: 10;
  stroke-width: 3.26px;
}

.iconDrawingIsolated {
  fill: #808285;
}
.iconBlue {
  fill: #1b75bc;
}
.iconRed {
  fill: #ee5f24;
}
.iconGreen {
  fill: #8db845;
}
.iconDarkBlue {
  fill: #193e4f;
}
.iconlabel {
  fill: #231f20;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
.revalorizelabel {
  fill: #1b75bc;
}
.returnlabel {
  fill: #808285;
}

/* paths */
.pathBlue {
  fill: none;
  stroke-miterlimit: 10;
  stroke: #1b75bc;
  stroke-width: 2.56px;
}
.arrowBlue {
  fill: #1b75bc;
}
.pathRed {
  fill: none;
  stroke-miterlimit: 10;
  stroke: #ee5f24;
  stroke-width: 2.56px;
}
.arrowRed {
  fill: #ee5f24;
}
.pathGreyDashed {
  fill: none;
  stroke-miterlimit: 10;
  stroke: #808285;
  stroke-width: 2.71px;
  stroke-dasharray: 3.61 2.71;
}
.pathGrey {
  fill: none;
  stroke: #808285;
  stroke-width: 2.56px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.arrowGrey {
  fill: #808285;
}
.pathBlack {
  fill: none;
  stroke: #231f20;
  stroke-width: 2.45px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.arrowBlack {
  fill: #231f20;
}
/* Design Product */
/*
.designiconBkgnd {
  fill: #ee5f24;
  -webkit-transform-origin: 21% 53%;
  -ms-transform-origin: 21% 53%;
  transform-origin: 21% 53%;
}
*/

/* Procure Packaging */
.packagingiconBkgnd {
  fill: #ee5f24;
  -webkit-transform-origin: 33% 35%;
  -ms-transform-origin: 33% 35%;
  transform-origin: 33% 35%;
}

/* Manufacture Product */
.manufactureiconBkgnd {
  fill: #ee5f24;
  -webkit-transform-origin: 46% 31%;
  -ms-transform-origin: 46% 31%;
  transform-origin: 46% 31%;
}

/* Warehouse Product */
.warehouseiconBkgnd {
  fill: #ee5f24;
  -webkit-transform-origin: 59% 25%;
  -ms-transform-origin: 59% 25%;
  transform-origin: 59% 25%;
}

/* Corporate HQ */
.headquartersiconBkgnd {
  fill: #ee5f24;
  -webkit-transform-origin: 53% 48%;
  -ms-transform-origin: 53% 48%;
  transform-origin: 53% 48%;
}

/* Airplanes and Truck */
#plane1icon {
  fill: #808285;
  -webkit-transform-origin: 39% 23%;
  -ms-transform-origin: 39% 23%;
  transform-origin: 39% 23%;
}
#plane2icon {
  fill: #808285;
  -webkit-transform-origin: 50% 90%;
  -ms-transform-origin: 50% 90%;
  transform-origin: 50% 90%;
}
#truckicon {
  fill: #808285;
  -webkit-transform-origin: 39% 23%;
  -ms-transform-origin: 39% 23%;
  transform-origin: 39% 23%;
}

/* size and center animation on web page */
/* responsive to screen size */
@media only screen and (max-width: 600px) {
  #efficienciesAnimation,
  #typicalAnimation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}
