/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* title and subtitle */
.title {
  fill: #193e4f;
}
.titleUnderline {
  stroke: #193e4f;
}
.titleAnimation {
  -webkit-animation: zoomout 2s ease-in-out 0s 1 normal forwards;
  animation: zoomout 2s ease-in-out 0s 1 normal forwards;
}
@-webkit-keyframes zoomout {
  0% {
    -webkit-transform: translate(150px, 400px);
    transform: translate(150px, 400px);
    font-size: 4em;
  }
  60% {
    -webkit-transform: translate(150px, 400px);
    transform: translate(150px, 400px);
    font-size: 4em;
  }
  100% {
    -webkit-transform: translate(410px, 32.9px);
    transform: translate(410px, 32.9px);
    font-size: 30px;
  }
}
@keyframes zoomout {
  0% {
    -webkit-transform: translate(150px, 400px);
    transform: translate(150px, 400px);
    font-size: 4em;
  }
  60% {
    -webkit-transform: translate(150px, 400px);
    transform: translate(150px, 400px);
    font-size: 4em;
  }
  100% {
    -webkit-transform: translate(410px, 32.9px);
    transform: translate(410px, 32.9px);
    font-size: 30px;
  }
}

/* TRANSFORMATIONS VALUE CHAIN */
/* show icon group after title animation is done */
.transformationsIcongroup {
  opacity: 0%;
  -webkit-animation: showTransformations 0.6s ease-in 3.5s 1 normal forwards;
  animation: showTransformations 0.6s ease-in 3.5s 1 normal forwards;
}
@-webkit-keyframes showTransformations {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes showTransformations {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* show icons one at a time - left to right */
@-webkit-keyframes loadChain {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes loadChain {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
#typicalChainIconGrp {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 4.5s 1 normal forwards;
  animation: loadChain 1s ease-in 4.5s 1 normal forwards;
}
#nusesIconGrp {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 5.5s 1 normal forwards;
  animation: loadChain 1s ease-in 5.5s 1 normal forwards;
}
#refurbishIconGrp {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 6.5s 1 normal forwards;
  animation: loadChain 1s ease-in 6.5s 1 normal forwards;
}
#endofuseIconGrp {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 11s 1 normal forwards;
  animation: loadChain 1s ease-in 11s 1 normal forwards;
}
#collectionIconGrp {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 12s 1 normal forwards;
  animation: loadChain 1s ease-in 12s 1 normal forwards;
}
#plane2IconGrp {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 13s 1 normal forwards;
  animation: loadChain 1s ease-in 13s 1 normal forwards;
}
#useIconGrp {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 14s 1 normal forwards;
  animation: loadChain 1s ease-in 14s 1 normal forwards;
}
#upcycleIconGrp {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 17s 1 normal forwards;
  animation: loadChain 1s ease-in 17s 1 normal forwards;
}
#upcycle-materials-arrow {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 18s 1 normal forwards;
  animation: loadChain 1s ease-in 18s 1 normal forwards;
}
#downcycleIconGrp {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 19s 1 normal forwards;
  animation: loadChain 1s ease-in 19s 1 normal forwards;
}
#revalorize {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 20s 1 normal forwards;
  animation: loadChain 1s ease-in 20s 1 normal forwards;
}
#downcycle-design-path {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 20.5s 1 normal forwards;
  animation: loadChain 1s ease-in 20.5s 1 normal forwards;
}
#disposeIconGrp {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 23.5s 1 normal forwards;
  animation: loadChain 1s ease-in 23.5s 1 normal forwards;
}
#wastetoenergyIconGrp {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 24.5s 1 normal forwards;
  animation: loadChain 1s ease-in 24.5s 1 normal forwards;
}
#wastetoinputIconGrp {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 27.5s 1 normal forwards;
  animation: loadChain 1s ease-in 27.5s 1 normal forwards;
}
#newrevenuestreamIconGrp {
  opacity: 0%;
  -webkit-animation: loadChain 1s ease-in 28.5s 1 normal forwards;
  animation: loadChain 1s ease-in 28.5s 1 normal forwards;
}
@-webkit-keyframes singleArrow {
  0% {
    opacity: 100%;
    stroke-dashoffset: 25;
  }
  100% {
    opacity: 100%;
    stroke-dashoffset: -25;
  }
}
@keyframes singleArrow {
  0% {
    opacity: 100%;
    stroke-dashoffset: 25;
  }
  100% {
    opacity: 100%;
    stroke-dashoffset: -25;
  }
}
@-webkit-keyframes doubleArrow {
  0% {
    opacity: 100%;
    stroke-dashoffset: 25;
  }
  100% {
    opacity: 100%;
    stroke-dashoffset: -25;
  }
}
@keyframes doubleArrow {
  0% {
    opacity: 100%;
    stroke-dashoffset: 25;
  }
  100% {
    opacity: 100%;
    stroke-dashoffset: -25;
  }
}
#purchase-refurbish-arrow {
  opacity: 0%;
  stroke-dasharray: 10;
  stroke-dashoffset: 0;
  animation: doubleArrow 2s ease-in-out 7.5s infinite alternate-reverse forwards;
}
#nuses-refurbish-arrow {
  opacity: 0%;
  stroke-dasharray: 10;
  stroke-dashoffset: 0;
  animation: doubleArrow 2s ease-in-out 7.5s infinite alternate-reverse forwards;
}
#collection-refurbish-arrow {
  opacity: 0%;
  stroke-dasharray: 12.5;
  stroke-dashoffset: 0;
  -webkit-animation: singleArrow 2s linear 15s infinite normal forwards;
  animation: singleArrow 2s linear 15s infinite normal forwards;
}
#use-refurbish-arrow {
  opacity: 0%;
  stroke-dasharray: 12.5;
  stroke-dashoffset: 0;
  -webkit-animation: singleArrow 2s linear 15s infinite normal forwards;
  animation: singleArrow 2s linear 15s infinite normal forwards;
}

/* Tooltip list styling */
ul.tooltipList {
  list-style-type: none;
  margin-left: 0;
  padding-left: 1em;
}
li.tooltipItem {
  font-size: 1em;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0.5em 0;
  padding-left: 1em;
}
ul.tooltipSublist {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 0.5em;
  padding-left: 1em;
  text-indent: -1.3em;
}
li.tooltipSublistItem {
  font-size: 0.9em;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0.3em 0;
  padding-left: 0;
}

/* Tooltips */
/* Design Product */
.designiconBkgndPulse {
  fill: #ee5f24;
  -webkit-animation: pulse 2.25s infinite;
  animation: pulse 2.25s infinite;
  -webkit-transform-origin: 21% 49%;
  -ms-transform-origin: 21% 49%;
  transform-origin: 21% 49%;
}
#designiconHotspot {
  fill: none;
  -webkit-transform-origin: 21% 49%;
  -ms-transform-origin: 21% 49%;
  transform-origin: 21% 49%;
}
#designtooltip {
  width: 300px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #193e4f;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#designtooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #193e4f;
  position: absolute;
  left: -6px;
  top: 40px;
}
/* Source Raw Materials */
.materialsiconBkgndPulse {
  fill: #ee5f24;
  -webkit-animation: pulse 2.25s infinite;
  animation: pulse 2.25s infinite;
  -webkit-transform-origin: 24% 37%;
  -ms-transform-origin: 24% 37%;
  transform-origin: 24% 37%;
}
#materialsiconHotspot {
  fill: none;
  -webkit-transform-origin: 24% 37%;
  -ms-transform-origin: 24% 37%;
  transform-origin: 24% 37%;
}
#materialstooltip {
  width: 250px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #193e4f;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#materialstooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #193e4f;
  position: absolute;
  left: -6px;
  top: 40px;
}
/* Procure Packaging */
.packagingiconBkgndPulse {
  fill: #ee5f24;
  -webkit-animation: pulse 2.25s infinite;
  animation: pulse 2.25s infinite;
  -webkit-transform-origin: 34% 29%;
  -ms-transform-origin: 34% 29%;
  transform-origin: 34% 29%;
}
#packagingiconHotspot {
  fill: none;
  -webkit-transform-origin: 34% 29%;
  -ms-transform-origin: 34% 29%;
  transform-origin: 34% 29%;
}
#packagingtooltip {
  width: 300px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #193e4f;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#packagingtooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #193e4f;
  position: absolute;
  left: -6px;
  top: 40px;
}

/* Manufacture Product */
.manufactureiconBkgndPulse {
  fill: #ee5f24;
  -webkit-animation: pulse 2.25s infinite;
  animation: pulse 2.25s infinite;
  -webkit-transform-origin: 46% 27%;
  -ms-transform-origin: 46% 27%;
  transform-origin: 46% 27%;
}
#manufactureiconHotspot {
  fill: none;
  -webkit-transform-origin: 46% 27%;
  -ms-transform-origin: 46% 27%;
  transform-origin: 46% 27%;
}
#manufacturetooltip {
  width: 300px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #193e4f;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#manufacturetooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #193e4f;
  position: absolute;
  left: -6px;
  top: 40px;
}
@-webkit-keyframes pulse {
  0% {
    fill: #ee5f24;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  50% {
    fill: #193e4f;
    -webkit-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
  }
  100% {
    fill: #ee5f24;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulse {
  0% {
    fill: #ee5f24;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  50% {
    fill: #193e4f;
    -webkit-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
  }
  100% {
    fill: #ee5f24;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

/* Refurbish Product */
.refurbishiconBkgndPulse {
  fill: #193e4f;
  -webkit-animation: pulseBlue 2.25s infinite;
  animation: pulseBlue 2.25s infinite;
  -webkit-transform-origin: 67% 52%;
  -ms-transform-origin: 67% 52%;
  transform-origin: 67% 52%;
}
#refurbishiconHotspot {
  fill: none;
  -webkit-transform-origin: 67% 52%;
  -ms-transform-origin: 67% 52%;
  transform-origin: 67% 52%;
}
#refurbishtooltip {
  width: 250px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #193e4f;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#refurbishtooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #193e4f;
  position: absolute;
  left: -6px;
  top: 40px;
}

/* Upcycle */
.upcycleiconBkgndPulse {
  fill: #193e4f;
  -webkit-animation: pulseBlue 2.25s infinite;
  animation: pulseBlue 2.25s infinite;
  -webkit-transform-origin: 37% 52%;
  -ms-transform-origin: 37% 52%;
  transform-origin: 37% 52%;
}
#upcycleiconHotspot {
  fill: none;
  -webkit-transform-origin: 37% 52%;
  -ms-transform-origin: 37% 52%;
  transform-origin: 37% 52%;
}
#upcycletooltip {
  width: 300px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #193e4f;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#upcycletooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #193e4f;
  position: absolute;
  left: -6px;
  top: 40px;
}

/* Downcycle */
.downcycleiconBkgndPulse {
  fill: #193e4f;
  -webkit-animation: pulseBlue 2.25s infinite;
  animation: pulseBlue 2.25s infinite;
  -webkit-transform-origin: 30% 65%;
  -ms-transform-origin: 30% 65%;
  transform-origin: 30% 65%;
}
#downcycleiconHotspot {
  fill: none;
  -webkit-transform-origin: 30% 65%;
  -ms-transform-origin: 30% 65%;
  transform-origin: 30% 65%;
}
#downcycletooltip {
  width: 300px;
  padding: 20px 10px 20px 8px;
  font-size: 1em;
  background-color: #193e4f;
  border-radius: 6px;
  position: absolute;
  display: none;
}
#downcycletooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #193e4f;
  position: absolute;
  left: -6px;
  top: 40px;
}
@-webkit-keyframes pulseBlue {
  0% {
    fill: #1b75bc;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  50% {
    fill: #193e4f;
    -webkit-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
  }
  100% {
    fill: #1b75bc;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulseBlue {
  0% {
    fill: #1b75bc;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  50% {
    fill: #193e4f;
    -webkit-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
  }
  100% {
    fill: #1b75bc;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
