body {
  margin: 20px;
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  background-color: white;
}
h1 {
  font-size: 2em;
  text-align: center;
}
h2 {
  font-size: 1.25em;
}
p {
  font-size: 1em;
}

/* size and center animation on web page */
#efficienciesAnimation,
#typicalAnimation,
#circularAnimation,
#transformationsAnimation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* NOTE:  THE TITLE ANIMATION IS WORKING IN EDGE
   BUT THE OTHER ANIMATIONS ARE NOT
   IT COULD BE THAT SOME PROPERTIES CAN NOT BE
   ANIMATED IN EDGE
*/
/* title and subtitle */
.title {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
.titleUnderline {
  fill: none;
  opacity: 0%;
  stroke-miterlimit: 10;
  stroke-width: 2.5px;
}
.subtitle {
  fill: #231f20;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 550;
  opacity: 0%;
}
.subtitleAnimation {
  animation: showSubtitle 0.4s ease-in 2.5s 1 normal forwards;
}
@keyframes showSubtitle {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* Button Group */
.buttonlabel {
  font-size: 17px;
  fill: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
#typicalbtnOutline {
  fill: none;
  stroke: #ee5f24;
  stroke-miterlimit: 10;
  stroke-width: 2.02px;
}
.typicalbtnBkgnd {
  fill: #ee5f24;
}
#circularbtnOutline {
  fill: none;
  stroke: #1b75bc;
  stroke-miterlimit: 10;
  stroke-width: 2.02px;
}
.circularbtnBkgnd {
  fill: #1b75bc;
}
#efficiencybtnOutline {
  fill: none;
  stroke: #8db845;
  stroke-miterlimit: 10;
  stroke-width: 2.02px;
}
.efficiencybtnBkgnd {
  fill: #8db845;
}
#ecologybtnOutline {
  fill: none;
  stroke: #193e4f;
  stroke-miterlimit: 10;
  stroke-width: 2.02px;
}
.ecologybtnBkgnd {
  fill: #193e4f;
}
.note {
  fill: #231f20;
  font-size: 1.2em;
  font-family: "Roboto Condensed", sans-serif;
}

/* icons */
.iconDrawing {
  fill: #fff;
  stroke-miterlimit: 10;
  stroke-width: 3.26px;
}

.iconDrawingIsolated {
  fill: #808285;
}
.iconBlue {
  fill: #1b75bc;
}
.iconRed {
  fill: #ee5f24;
}
.iconlabel {
  fill: #231f20;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
.revalorizelabel {
  fill: #1b75bc;
}
.returnlabel {
  fill: #808285;
}

/* paths */
.pathBlue {
  fill: none;
  stroke-miterlimit: 10;
  stroke: #1b75bc;
  stroke-width: 2.56px;
}
.arrowBlue {
  fill: #1b75bc;
}
.pathRed {
  fill: none;
  stroke-miterlimit: 10;
  stroke: #ee5f24;
  stroke-width: 2.56px;
}
.arrowRed {
  fill: #ee5f24;
}
.pathGreyDashed {
  fill: none;
  stroke-miterlimit: 10;
  stroke: #808285;
  stroke-width: 2.71px;
  stroke-dasharray: 3.61 2.71;
}
.pathGrey {
  fill: none;
  stroke: #808285;
  stroke-width: 2.56px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.arrowGrey {
  fill: #808285;
}
.pathBlack {
  fill: none;
  stroke: #231f20;
  stroke-width: 2.45px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.arrowBlack {
  fill: #231f20;
}
/* Design Product */
.designiconBkgnd {
  fill: #ee5f24;
  transform-origin: 21% 53%;
}

/* Procure Packaging */
.packagingiconBkgnd {
  fill: #ee5f24;
  transform-origin: 33% 35%;
}

/* Manufacture Product */
.manufactureiconBkgnd {
  fill: #ee5f24;
  transform-origin: 46% 31%;
}

/* Warehouse Product */
.warehouseiconBkgnd {
  fill: #ee5f24;
  transform-origin: 59% 25%;
}

/* Corporate HQ */
.headquartersiconBkgnd {
  fill: #ee5f24;
  transform-origin: 53% 48%;
}

/* Airplanes and Truck */
#plane1icon {
  fill: #808285;
  transform-origin: 39% 23%;
}
#plane2icon {
  fill: #808285;
  transform-origin: 50% 90%;
}
#truckicon {
  fill: #808285;
  transform-origin: 39% 23%;
}

/* size and center animation on web page */
/* responsive to screen size */
@media only screen and (max-width: 600px) {
  #efficienciesAnimation,
  #typicalAnimation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
}
