/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html {
  height: 100vh;
}

body {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 5px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  background-color: white;
}
h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
h2 {
  font-size: 1.25em;
}
p {
  font-size: 1em;
}

/* title and subtitle */
.title {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
.titleUnderline {
  fill: none;
  opacity: 0;
  stroke-miterlimit: 10;
  stroke-width: 2.5px;
}
.subtitle {
  fill: #231f20;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 550;
  opacity: 0;
}
.subtitleAnimation {
  -webkit-animation: showSubtitle 0.4s ease-in 2.5s 1 normal forwards;
  animation: showSubtitle 0.4s ease-in 2.5s 1 normal forwards;
}
@-webkit-keyframes showSubtitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showSubtitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Button Group */
.buttonBar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  padding-top: 0px;
  padding-bottom: 10px;
}
.button {
  font-size: 12px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-align: center;
  width: 24%;
  padding: 10px 20px;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
#closebtn {
  border: 1px;
  border-color: #333;
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 14;
  font-weight: bold;
  text-align: center;
  width: 20px;
  height: 20px;
  padding: 2px;
  display: inline-block;
  margin-left: 94.5%;
  margin-bottom: 5px;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
#closebtn:hover {
  background-color: #ffffff;
  color: #000000;
}
.typicalbtn {
  border: 5px double #c24e24;
  background-color: #c24e24;
  padding: 5px 5px;
  background-clip: padding-box;
  height: 49.6px;
}
.typicalbtn:hover {
  background-color: #ffffff;
  color: #c24e24;
  border: 5px double #c24e24;
}
.typicalbtn:focus {
  background-color: #ffffff;
  color: #c24e24;
  border: 5px double #c24e24;
}
.typicalbtn:active {
  background-color: #c24e24;
  color: #ffffff;
}
.circularbtn {
  border: 5px double #1b75bc;
  background-color: #1b75bc;
  padding: 5px 5px;
  background-clip: padding-box;
  height: 49.6px;
}
.circularbtn:hover {
  background-color: #ffffff;
  color: #1b75bc;
  border: 5px double #1b75bc;
}
.circularbtn:focus {
  background-color: #ffffff;
  color: #1b75bc;
  border: 5px double #1b75bc;
}
.circularbtn:active {
  background-color: #1b75bc;
  color: #ffffff;
}
.efficiencybtn {
  border: 5px double #7b9f3c;
  background-color: #7b9f3c;
  padding: 5px 5px;
  background-clip: padding-box;
  height: 49.6px;
}
.efficiencybtn:hover {
  background-color: #ffffff;
  color: #7b9f3c;
  border: 5px double #7b9f3c;
}
.efficiencybtn:focus {
  background-color: #ffffff;
  color: #7b9f3c;
  border: 5px double #7b9f3c;
}
.efficiencybtn:active {
  background-color: #7b9f3c;
  color: #ffffff;
}
.ecologybtn {
  border: 5px double #193e4f;
  background-color: #193e4f;
  padding: 5px 5px;
  background-clip: padding-box;
  height: 49.6px;
}
.ecologybtn:hover {
  background-color: #ffffff;
  color: #193e4f;
  border: 5px double #193e4f;
}
.ecologybtn:focus {
  background-color: #ffffff;
  color: #193e4f;
  border: 5px double #193e4f;
}
.ecologybtn:active {
  background-color: #193e4f;
  color: #ffffff;
}
.note {
  fill: #231f20;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  margin-top: 0.5em;
}

/* icons */
.iconDrawing {
  fill: #fff;
  stroke-miterlimit: 10;
  stroke-width: 3.26px;
}
.iconDrawingIsolated {
  fill: #808285;
}
.iconBlue {
  fill: #1b75bc;
}
.iconRed {
  fill: #c24e24;
}
.iconGreen {
  fill: #7b9f3c;
}
.iconDarkBlue {
  fill: #193e4f;
}
.iconlabel {
  fill: #231f20;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
.revalorizelabel {
  fill: #1b75bc;
}
.returnlabel {
  fill: #808285;
}

/* paths */
.pathBlue {
  fill: none;
  stroke-miterlimit: 10;
  stroke: #1b75bc;
  stroke-width: 2.56px;
}
.arrowBlue {
  fill: #1b75bc;
}
.pathRed {
  fill: none;
  stroke-miterlimit: 10;
  stroke: #c24e24;
  stroke-width: 2.56px;
}
.arrowRed {
  fill: #c24e24;
}
.pathGreyDashed {
  fill: none;
  stroke-miterlimit: 10;
  stroke: #808285;
  stroke-width: 2.71px;
  stroke-dasharray: 3.61 2.71;
}
.pathGrey {
  fill: none;
  stroke: #808285;
  stroke-width: 2.56px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.arrowGrey {
  fill: #808285;
}
.pathBlack {
  fill: none;
  stroke: #231f20;
  stroke-width: 2.45px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.arrowBlack {
  fill: #231f20;
}

/* Responsive design for medium to large screens */
@media only screen and (min-width: 769px) {
  /* size and center animation on web page */
  #efficienciesAnimation,
  #typicalAnimation,
  #circularAnimation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
  }
  #transformationsAnimation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75vh;
  }
}
